* {
  margin: 0;
  padding: -0.5px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

.headtext {
  color: #000000;
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 25px;
  line-height: 52px;
  margin: 0 0 3px;
  text-align: center;
}





.container {
  padding-bottom: 70px;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  background: #fff;
  min-height: 100vh;
  padding-top: 14px;
}

.container section {
  width: 700px;
  margin: 3px;
  box-shadow: 0 1.5px 0.5px #3334;
  font-size: 15px;
  background-color: #fff1f1;
}

.container section details summary {
  padding: 10px;
  background: #fff1f1;
  color: fff;
  border: px solid black;
  position: relative;
  list-style: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 1px;
}

.container section details summary::after {
  content: "∧";
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  color: #000000;
  transition: 0.3s linear;
}

.container section details[open] summary::after {
  transform: rotate(180deg);
}

.container section details[open] summary {
  background: #fff1f1;
}
.searcharea {
 margin: auto;
 width: 700PX;
 position: sticky;
  border: 2px solid #aaa;
  border-radius: 0px;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
  
  align-items: center;
  justify-content: center;
  background-color: #E3E2E3;

}

.data {
  padding-bottom: 13px;
  padding-top: 10px;
}
